* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
form {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
#mainCanvas {
  background: gray;
  max-width: 100%;
  max-height: 100%;
}

#networkCanvas {
  background: rgb(46, 45, 45);
  max-height: 100%;
  max-width: 100%;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background: rgb(83, 77, 126);
}

#reset {
  background: rgb(181, 41, 10);
  color: aliceblue;
}

#game {
  /* rainbow backgorund with green top right */
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, green);
  color: aliceblue;
  text-shadow: 1px 1px 10px black, 3px 3px 10px black, 1px 1px 10px black;
}

#start,
#slot1,
#delete1 {
  background: rgb(23, 121, 33);
  color: aliceblue;
}

#simulate {
  /* vertical grandient, left green, center paleturquoise, right orange */
  background: linear-gradient(to right, green, paleturquoise, orange);
  box-shadow: inset 0 0 10px 2px rgb(71, 173, 220);
}
#slot2,
#delete2 {
  background: rgb(181, 138, 10);
  color: rgb(15, 20, 24);
}

#randomize,
#allAlive,
#loadAll {
  background: rgb(0, 0, 0);
  color: aliceblue;
  border: 1px solid aliceblue;
}

#mutate {
  background: beige;
  color: rgb(18, 41, 61);
  border: 1px solid aliceblue;
}

#mix1and2 {
  background: paleturquoise;
  color: black;
}

#mix1or2 {
  background: linear-gradient(45deg, rgb(23, 121, 33), rgb(181, 138, 10));
  color: aliceblue;
  border: 1px solid aliceblue;
}

#train {
  /* circle grandient, center green border beige */
  background: radial-gradient(circle, beige 0%, green 100%);
  color: black;
}
