body {
  background: linear-gradient(125deg, red, green, blue);
  height: 1000px;
  width: 100vw;
  justify-content: center;
  border: 1px solid #000;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: #fff;
}

canvas {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  position: absolute;
}

#collisionCanvas {
  opacity: 0;
}
