* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

canvas {
  top: 0;
  left: 0;
}

#loading {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
